In [1]:
#Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
#you have collected data on the amount of time students spend studying for an exam and their final exam
#scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [23]:
# suppose our data is 
studying_time=[2,3,4,5,6]
exam_score=[72,82,89,65,78]

In [24]:
import pandas as pd

In [42]:
df=pd.DataFrame({
    'studying_time':[2,3,4,5,6],
    'exam_score':[72,82,89,65,78]
})

In [43]:
df

   studying_time  exam_score
0              2          72
1              3          82
2              4          89
3              5          65
4              6          78

In [44]:
df.corr(method='pearson')

               studying_time  exam_score
studying_time       1.000000   -0.085901
exam_score         -0.085901    1.000000

In [45]:
#Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
#Suppose you have collected data on the amount of sleep individuals get each night and their overall job
#satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
#variables and interpret the result.

In [46]:
# let's see the data according to the Qustion
sleep=[1,2,3,4,5]
job=[10,20,30,40,50]

In [47]:
df=pd.DataFrame({
    'sleep':[1,2,3,4,5],
    'job':[10,20,30,40,50]
})

In [48]:
df

   sleep  job
0      1   10
1      2   20
2      3   30
3      4   40
4      5   50

In [49]:
df.corr(method='spearman')

       sleep  job
sleep    1.0  1.0
job      1.0  1.0

In [50]:
#Q3.Suppose you are conducting a study to examine the relationship between the number of hours of
#exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
#for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
#between these two variables and compare the results.

In [51]:
# we can see the data as per according question
exercise_hours=[4,5,6,8,9,10]
body_mass=[17.84,16.59,14.59,17.86,16.89,20.21]

In [54]:
df=pd.DataFrame({
    'exercise_hours':[4,5,6,8,9,10],
    'body_mass':[17.84,16.59,14.59,17.86,16.89,20.21]
})

In [55]:
df

   exercise_hours  body_mass
0               4      17.84
1               5      16.59
2               6      14.59
3               8      17.86
4               9      16.89
5              10      20.21

In [56]:
df.corr(method='pearson')

                exercise_hours  body_mass
exercise_hours        1.000000   0.502026
body_mass             0.502026   1.000000

In [57]:
df.corr(method='spearman')

                exercise_hours  body_mass
exercise_hours        1.000000   0.485714
body_mass             0.485714   1.000000

In [58]:
#Q4. A researcher is interested in examining the relationship between the number of hours individuals
#spend watching television per day and their level of physical activity. The researcher collected data on
#both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
#these two variables.

In [59]:
# we can see the data according to the question
televison_hours=[2,4,5,6]
physical_fit =[32,45,42,39]

In [61]:
df=pd.DataFrame({
    'televison_hours':[2,4,5,6], 
    'physical_fit':[32,45,42,39]
})

In [62]:
df

   televison_hours  physical_fit
0                2            32
1                4            45
2                5            42
3                6            39

In [64]:
df.corr(method='pearson')

                 televison_hours  physical_fit
televison_hours         1.000000      0.578414
physical_fit            0.578414      1.000000

In [65]:
#Q5. A survey was conducted to examine the relationship between age and preference for a particular
#brand of soft drink. The survey results are shown below:
age_years=[25,42,37,19,31,28]
soft_drink=['coke','pepsi','mountain dew','coke','pepsi','coke']

In [67]:
df=pd.DataFrame({
    'age_years':[25,42,37,19,31,28],
    'soft_drink':['coke','pepsi','mountain dew','coke','pepsi','coke']
})

In [68]:
df

   age_years    soft_drink
0         25          coke
1         42         pepsi
2         37  mountain dew
3         19          coke
4         31         pepsi
5         28          coke

In [69]:
df.corr()

/tmp/ipykernel_572/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

           age_years
age_years        1.0

In [70]:
#Q6. A company is interested in examining the relationship between the number of sales calls made per day
#and the number of sales made per week. The company collected data on both variables from a sample of
#30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [71]:
# Given Data in Question
sales_perday=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
sales_perweek=[7,14,21,28,35,42,49,56,63,70,77,84,91,98,105,112,119,126,133,140,147,154,161,168,175,182,189,196,203,210]

In [74]:
df=pd.DataFrame({
    'sales_perday':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
    'sales_perweek':[7,14,21,28,35,42,49,56,63,70,77,84,91,98,105,112,119,126,133,140,147,154,161,168,175,182,189,196,203,210]
})

In [75]:
df

    sales_perday  sales_perweek
0              1              7
1              2             14
2              3             21
3              4             28
4              5             35
5              6             42
6              7             49
7              8             56
8              9             63
9             10             70
10            11             77
11            12             84
12            13             91
13            14             98
14            15            105
15            16            112
16            17            119
17            18            126
18            19            133
19            20            140
20            21            147
21            22            154
22            23            161
23            24            168
24            25            175
25            26            182
26            27            189
27            28            196
28            29            203
29            30            210

In [76]:
df.corr(method='pearson')

               sales_perday  sales_perweek
sales_perday            1.0            1.0
sales_perweek           1.0            1.0